<div style="height: 70vh;" class="row justify-content-center align-items-center">
    <div class="col-md-6 bg-light rounded-3 p-5">
        <h1>Add new person</h1>
        <form method="post" action="/home/checkboxdemo">

            <div class="form-group">
                <label for="title">Name:</label>
                <input id="title" type="text" class="form-control form-control-lg" placeholder="Name" name="name">
            </div>
            <div class="form-group">
                <label for="title">Is Amazing:</label>
                <input type="checkbox" value="true" name="isamazing" />
            </div>
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary">Save</button>
            </div>
            
        </form>
    </div>
</div>